.header {
    text-align: center;
    padding: 5px;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: #fff;
    width: 100%;
}

.header h2 {
    font-size: 14px;
    font-weight: normal;
}

.header a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #457b9d;
}

/* click to copy by masgimenz.com */
.copytoclipboard {
    background-color: #eaeaea;
    border: none;
    color: #3e3e3e;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    font-size: 16px;
    cursor: pointer;
}

.copytoclipboard:hover {
    background-color: #0e0e0e;
    color: #fff;
}

.copy {
    float: right;
}

.container {
    height: 500px;
}

footer {
    background-color: #264653;
    color: #fff;
    margin-bottom: 0px;
}

footer h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 15px 20px;
    /* height: 100px; */
}

footer p {
    text-align: center;
    font-size: 13px;
}

.copyright {
    background-color: #2b2d42;
    margin: 0px;
    font-size: 12px;
    padding: 15px 0px 1px 15px;
    text-align: center;
}